<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fourmob.datetimepicker.sample">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
        minSdkVersion与maxSdkVersion比较容易理解，就是在安装程序的时候，
        如果目标设备的API版本小于minSdkVersion，或者大于maxSdkVersion，程序将无法安装。
        一般来说没有必要设置maxSdkVersion。
    -->
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="12"
              android:maxSdkVersion="22"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.fourmob.datetimepicker.sample.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.fourmob.datetimepicker.sample.DateTimePickerActivity"
                  android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
                  android:alwaysRetainTaskState="true"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="landscape" />
    </application>

</manifest>