<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myMask"
          android:versionCode="1"
          android:versionName="1.0">

    <!--
        minSdkVersion与maxSdkVersion比较容易理解，就是在安装程序的时候，
        如果目标设备的API版本小于minSdkVersion，或者大于maxSdkVersion，程序将无法安装。
        一般来说没有必要设置maxSdkVersion。
    -->
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="12"
              android:maxSdkVersion="19"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Light.NoTitleBar">

        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
