<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.vov.vitamio"
          android:versionCode="300"
          android:versionName="3.0" >

    <!--
        minSdkVersion与maxSdkVersion比较容易理解，就是在安装程序的时候，
        如果目标设备的API版本小于minSdkVersion，或者大于maxSdkVersion，程序将无法安装。
        一般来说没有必要设置maxSdkVersion。
    -->
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="12"
              android:maxSdkVersion="22"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:icon="@drawable/ic_launcher"
            android:label="@string/vitamio_name" >
        <activity
                android:name="io.vov.vitamio.activity.InitActivity"
                android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
                android:launchMode="singleTop"
                android:screenOrientation="landscape"
                android:exported="true"
                android:theme="@android:style/Theme.NoTitleBar"
                android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>